################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PremiumCalc/obj
/PremiumCalc/bin/Debug/net6.0
/PremiumCalc/.vs/PremiumCalc
/PremiumCalc/.vs/ProjectEvaluation
